body{
   background: url('coffee.jpg') no-repeat center fixed ;
  background-size: cover;
  background: #070000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.card{
  width: 18rem;
   height:24rem ;
   margin:10px;
    text-align: center;
   background-color: rgba(255,255,255,0.5);
   transition: transform 1s;
}
.card:hover{
  transform: rotateY(360deg);
}
h1{
  color:white;
  text-align: center;
  font-family: 'Coiny', cursive;

}
img{
  height: 50vh;
  width: 100vh;
  opacity: 1;
}
 .temps{
height: 15rem;
  image-orientation: center;

}
.btn-danger{
    font-family: 'Coiny', cursive;
}
}
