body{
  font-family: 'Lobster', cursive;
  background: url(look1.jpg) center center fixed;
  background-size: cover;
}
.changed-size{

  height: 250px;
  background-color:rgba(255,255,255,0.2) ;
  transition: transform 1s;

}
.changed-size:hover{
    background-color:rgba(255,255,255,0.5)

}
.changed-size:active{
  transform: rotateX(360deg);
}
img{


  height: 200px;
  width: 200px;
  image-orientation: center;

  transition: transform 1s;
}

img:active{
  transform: rotateY(360deg);
}
span{
  color:purple;
  font-size:30px;
}
.image{
  height: 50vh;
}

.titleimage{
  width: 100%;
  height: 100%;
  margin: 10px;
}
.page1bg{
  background-image: url("page1bg(3).jpg");
}
p{
  padding: 20px;
  font-size: 20px;
  color: #1F6AB2;
}
.card{
  width: 18rem;
   height:24rem ;
   margin:10px;
    text-align: center;
   background-color: rgba(255,255,255,0.5);
   transition: transform 1s;
}
.card:hover{
  transform: rotateY(360deg);
}
@media (max-width:420px) {
  .menu{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
round: linear-gradient(to left, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }


  .image{
    height: 20vh;
  }
  .card{
    width: 18rem;
     height:24rem ;
     margin:10px;
     text-align: center;
     background-color: rgba(255,255,255,0.5);
     transition: transform 1s;
  }
  p{
    font-size: 30px;
  }
}
