body{
   background: url('coffee.jpg') no-repeat center fixed ;
  background-size: cover;


}
.card{
  width: 18rem;
   height:24rem ;
   margin:10px;
    text-align: center;
   background-color: rgba(255,255,255,0.5);
   transition: transform 1s;
}
.card:hover{
  transform: rotateY(360deg);
}
h1{
  color:white;
  text-align: center;
  font-family: 'Coiny', cursive;

}
img{
  height: 50vh;
  width: 100vh;
  opacity: 1;
}
 .temps{
height: 15rem;
  image-orientation: center;

}
.btn-danger{
    font-family: 'Coiny', cursive;
}


@media (max-width:750px){
  body{
    background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);  */
  }
}
